### Оценка доходности вложений

Основная идея этой программы это обработка внесенных значений выручки, ЧП и капитала для вывода ключевых параметров. 

Моя программа должна состоять из основной части, которая непосредственно обрабатывает данные, выводит ключевые мультипликаторы, выводит рисунки и т.п.

Дополнительно можно сделать чтение с csv файла, и если будет возможность, то напишу другую программу, которая генерит эти csv файлы.

In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

class ReasonableGrowth:
    required_growth = 7
    def __init__(self, dict_data):
        pass
    def __repr__(self):
        pass    
    def extrapolate_growth(self):
        pass
    def plot_everything(self):
        pass
    def plot_roe(self):
        pass
    def plot_income(self):
        pass
    def plot_revenue(self):
        pass
    def plot_capital(self):
        pass
    
    # class method
    @classmethod
    def instantiate_from_csv(cls, filename):
        with open(filename, 'r') as f:
            reader = csv.DictReader(f)
            items = list(reader)
        
        #instantiate
#         for item in items:
#             ReasonableGrowth(
#                 name  = item.get('name'),
#                 price = float(item.get('price')),
#                 quantity = int(item.get('quantity'))
#             )

In [2]:
row_names = ['Net Income', 'Revenue', 
            'Total Assets', 'Equity', 
            'Total Liabilites']
col_names = ['Annual Data']
for year in range(2014,2021,1):
    col_names.append(year)

In [3]:
intel = {}
roe = {}

intel[2014] = [11704,55870,91900,55865,36035]
intel[2015] = [11420,55355,101459,61085,40374]
intel[2016] = [10316,59387,113327,66226,47101]
intel[2017] = [9601,62761,123249,69019,54230]
intel[2018] = [21053,70848,127963,74563,53400]
intel[2019] = [21048,71965,136534,77514,59020]
intel[2020] = [20899,77867,153091,81038,72053]
year = 2014
roe[year] = -1
year = 2015
roe[year] = intel[year][0]/intel[year-1][3]
year = 2016
roe[year] = intel[year][0]/intel[year-1][3]
year = 2017
roe[year] = intel[year][0]/intel[year-1][3]
year = 2018
roe[year] = intel[year][0]/intel[year-1][3]
year = 2019
roe[year] = intel[year][0]/intel[year-1][3]
year = 2020
roe[year] = intel[year][0]/intel[year-1][3]

In [4]:
roe

{2014: -1,
 2015: 0.20442137295265372,
 2016: 0.16887943030203814,
 2017: 0.14497327333675597,
 2018: 0.3050319477245396,
 2019: 0.28228477931413704,
 2020: 0.26961581133730683}

In [5]:
x = []
y = []
for year in roe:
    x.append(int(year))
    y.append(round(100*roe[year]))
plt.bar

In [6]:
intel

{2014: [11704, 55870, 91900, 55865, 36035],
 2015: [11420, 55355, 101459, 61085, 40374],
 2016: [10316, 59387, 113327, 66226, 47101],
 2017: [9601, 62761, 123249, 69019, 54230],
 2018: [21053, 70848, 127963, 74563, 53400],
 2019: [21048, 71965, 136534, 77514, 59020],
 2020: [20899, 77867, 153091, 81038, 72053]}

In [7]:
df = pd.DataFrame(intel, index = row_names)

Total Liabilities / Total Assets --- это закредитованность компании. 
Очень важный параметр

In [8]:
row_names.append('Liability')
for year in intel:
    liability = 100*intel[year][4]/intel[year][2]
    intel[year].append(round(liability))

In [9]:
# row_names.append('ROE')

In [10]:
row_names

['Net Income',
 'Revenue',
 'Total Assets',
 'Equity',
 'Total Liabilites',
 'Liability']

In [11]:
df

                   2014    2015    2016    2017    2018    2019    2020
Net Income        11704   11420   10316    9601   21053   21048   20899
Revenue           55870   55355   59387   62761   70848   71965   77867
Total Assets      91900  101459  113327  123249  127963  136534  153091
Equity            55865   61085   66226   69019   74563   77514   81038
Total Liabilites  36035   40374   47101   54230   53400   59020   72053