### Здесь мы рассмотрим однострочники.

[Распаковка](#open)

[map](#map)

[reduce](#reduce)

[filter](#filter)

[Обращение списка](#reverse_list)

[in_all_any](#in)

### Распаковка <a id='open'></a>

In [1]:
sizes = input()
sizes = sizes.strip() # убираем лишние пробелы
sizes = sizes.split() # разделяем их по пробелам
x = sizes[0]
y = sizes[1]
z = sizes[2]

1 2 3

In [10]:
x, y, z = input().strip().split() # делает то же самое, что и код выше

1 2 3

In [11]:
type(x)

str

### map  
<a id='map'> </a>

In [12]:
# если мы хотим перевести считанные данные, скажем, в int
x,y,z = map(int, (x,y,z))

In [13]:
type(x)

int

### reduce
<a id ='reduce' ></a>

Отличие reduce от map в том, что reduce возвращает одно значение. В то время, как map возвращает несколько значений.

In [14]:
from functools import reduce

In [15]:
volume = reduce(lambda x,y: x*y, (x,y,z))

In [16]:
volume

6

### filter 

<a id='filter' ></a>

filter использует функцию-фильтр к данным. Возвращает итератор

In [27]:
names = ["Христофор", "Колумб", "Васко", "де Гама", "Фердинанд", "Магеллан", "Хеминг", "Эрнестуей"]
names_starts_h = filter(lambda name: name.startswith('Х'), names)

In [28]:
# обязательно надо конвертировать, иначе ничего не выведет
# лучше конвертировать в кортеж, т.к. кортеж оптимальней, чем список (list)
print(tuple(names_starts_h))

('Христофор', 'Хеминг')

### Обращение списка

<a id = 'reverse_list'></a>

In [29]:
arr = [1, 2, 3, 4, 5]
arr[::-1]

[5, 4, 3, 2, 1]

### in вместо if

<a id='in'></a>

In [31]:
name = "Магеллан"
if name in names: 
    print(name)

Магеллан

### all и any вместо сложного if

In [32]:
a = b = c= d = True
if a and b and c and d:
    print('all_true')

all_true

In [36]:
# мы используем all вместо and
if all((a,b,c,d)):
    print('all true')

all true

In [35]:
# мы используем any вместо or
if any((a,b,c,d)):
    print('one of them is true')

one of them is true