### List comprehension

Используется для создания и заполнения списка в python:

In [1]:
# допустим, мы хотим заполнить список квадратами чисел от 1 до 100
square = []
for i in range(1,101):
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [3]:
# то же самое что и выше, но 1 строка кода
square2 = [i**2 for i in range(1,101)]
print(square2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

### Использование условия if в list comprehension

In [10]:
movies = ["Star Wars", "Gandhi", "Casablanca", "Shawshank Redemption", "Toy Story", 
          "Gove with the Wind", "Citizen Kane", "It's a Wonderful Life", "The Wizard of Oz", 
          "Gattaca", "Rear Window", "Ghostbusters", "To kill A Mockingbird", "Good Will Hunting", 
          "2001: A Space Odyssey", "Raiders of the Lost Ark", "Groundhog Day", 
          "Close Encounters of the Third Kind"]

gmovies = [title for title in movies if title.startswith('G')]
print(gmovies)

Более сложный пример:

In [12]:
movies = [("Star Wars", 1977), ("Gandhi", 1982), ("Casablanca", 1942), ("Shawshank Redemption", 1994), 
          ("Toy Story", 1995), ("Gove with the Wind", 1939), ("Citizen Kane", 1941), 
          ("It's a Wonderful Life", 1947), ("The Wizard of Oz", 1939), ("Gattaca", 1997), 
          ("Rear Window", 1954), ("Ghostbusters", 1984), ("Hunger Games", 2012), 
          ("Lord of the Rings", 2002),("Interstellar", 2014), ("Tenet", 2020), ("Groundhog Day", 1995), 
          ("Titanic", 1997)]

pre2k = [title for (title, year) in movies if year < 2000]
print(pre2k)

['Star Wars', 'Gandhi', 'Casablanca', 'Shawshank Redemption', 'Toy Story', 'Gove with the Wind', 'Citizen Kane', "It's a Wonderful Life", 'The Wizard of Oz', 'Gattaca', 'Rear Window', 'Ghostbusters', 'Groundhog Day', 'Titanic']

### Скалярное произведение

In [13]:
v = [2, -3, 1]
w = [4*x for x in v]
print(w)

[8, -12, 4]

### Прямое или декартово произведение

In [14]:
A = [1, 3, 5, 7]
B = [2, 4, 6, 8]

cartesian_product = [(a,b) for a in A for b in B]
print(cartesian_product)

[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]