In [1]:
import pandas

In [2]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
print(data[data['Sex']=='male']['Name'].count())
print(data[data['Sex']=='female']['Name'].count())

577
314

In [14]:
data[data['Survived']==1]['Name'].count()/data['Name'].count()

0.3838383838383838

In [15]:
data[data['Pclass']==1]['Name'].count()/data['Name'].count()

0.24242424242424243

In [19]:
print(data['Age'].mean())
print(data["Age"].median())

29.69911764705882
28.0

In [42]:
data[['SibSp','Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [45]:
data[data['Sex']=='female']['Name'].head()

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [49]:
namedata = data[data['Sex']=='female']['Name']

In [54]:
for name in namedata:
    if name.split[' '][1] == 'Mrs.':
        FormatMrs(name)
    elif name.split[' '][1] == 'Miss.':
        FormatMiss(name)
    else:
        FormatOther(name)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [47]:
def FormatMiss(name):
    return name
def FormatMrs(name):
    return name
def FormatOther(name):
    print(name)
    return

In [63]:
for name in namedata:
    if name.split(',')[1] == 'Miss.':
        print(name)
    elif name.split(',')[1] == 'Mrs.':
        pass

In [66]:
data[data['Sex']=='female']['Name'][2].split(',')

['Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)']