# Decision trees. Решающие деревья

In [3]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #классификационная модель дерева
from sklearn.tree import DecisionTreeRegressor  #регрессионная модель дерева

In [4]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [19]:
data.head(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [6]:
df = data[['Pclass', 'Sex', 'Age', 'Fare']]

In [16]:
#replace strings in Sex column with 0 and 1
df_sex = df['Sex'].unique()
df_map = dict(zip(df_sex, range(len(df_sex))))
print(df_map) #to keep in mind which sex is 0 and which sex is 1
df = df.replace(df_map)

{'male': 0, 'female': 1}

In [43]:
y = data[np.isnan(data['Age'])!=True]['Survived']

In [44]:
#remove rows with missing data. Since only Age column contains NaN values we search in that column
df = df[np.isnan(df['Age'])!=True]

In [45]:
tree = DecisionTreeClassifier(random_state=241)
tree.fit(df, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [46]:
importances = tree.feature_importances_

In [47]:
importances

array([0.14751816, 0.30051221, 0.25124241, 0.30072722])

In [48]:
df.head(2)

             Pclass  Sex   Age     Fare
PassengerId
1                 3    0  22.0   7.2500
2                 1    1  38.0  71.2833