In [1]:
import pandas

In [2]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(data[data['Sex']=='male']['Name'].count())
print(data[data['Sex']=='female']['Name'].count())

577
314

In [5]:
data[data['Survived']==1]['Name'].count()/data['Name'].count()

0.3838383838383838

In [6]:
data[data['Pclass']==1]['Name'].count()/data['Name'].count()

0.24242424242424243

In [7]:
print(data['Age'].mean())
print(data["Age"].median())

29.69911764705882
28.0

In [42]:
data[['SibSp','Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [45]:
data[data['Sex']=='female']['Name'].head()

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
namedata = data[data['Sex']=='female']['Name']

In [11]:
for name in namedata:
    if name.split[' '][1] == 'Mrs.':
        FormatMrs(name)
    elif name.split[' '][1] == 'Miss.':
        FormatMiss(name)
    else:
        FormatOther(name)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [8]:
def FormatMiss(name):
    return name
def FormatMrs(name):
    return name
def FormatOther(name):
    print(name)
    return

In [29]:
for name in namedata:
    if name.split(' ')[1] == 'Miss.':
        pass
    elif name.split(',')[1] == 'Mrs.':
        pass

Heikkinen, Miss. Laina
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Vestrom, Miss. Hulda Amanda Adolfina
McGowan, Miss. Anna "Annie"
Palsson, Miss. Torborg Danira
O'Dwyer, Miss. Ellen "Nellie"
Glynn, Miss. Mary Agatha
Nicola-Yarred, Miss. Jamila
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
O'Driscoll, Miss. Bridget
Rugg, Miss. Emily
West, Miss. Constance Mirium
Icard, Miss. Amelie
Andersson, Miss. Erna Alexandra
Goodwin, Miss. Lillian Amy
Dowdell, Miss. Elizabeth
McDermott, Miss. Brigdet Delia
Ilett, Miss. Bertha
Fortune, Miss. Mabel Helen
Petranec, Miss. Matilda
Salkjelsvik, Miss. Anna Kristine
Moran, Miss. Bertha
Zabour, Miss. Hileni
Jussila, Miss. Katriina
Attalah, Miss. Malake
Andersson, Miss. Ellis Anna Maria
Webber, Miss. Susan
Peter, Miss. Anna
Newsom, Miss. Helen Monypeny
Nysten, Miss. Anna Sofia
Ford, Miss. Robina Maggie "Ruby"
Gilnagh, Miss. Katherine "Katie"
Johnson, Miss. Eleanor Ileen
Isham, Miss. Ann Elizabeth
Sage, Miss. Constance Gladys
Kink-Heilmann, Miss. Luise Gretchen
Andersen-Jensen, Miss. Carla Christine Nielsine
Lurette, Miss. Elise
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Strom, Miss. Telma Matilda
Carr, Miss. Helen "Ellen"
Cameron, Miss. Clear Annie
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Bazzani, Miss. Albina
Lefebre, Miss. Mathilde
Asplund, Miss. Lillian Gertrud
Harknett, Miss. Alice Phoebe
Collyer, Miss. Marjorie "Lottie"
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Lindahl, Miss. Agda Thorilda Viktoria
Cherry, Miss. Gladys
Ward, Miss. Anna
Henry, Miss. Delia
Bissette, Miss. Amelia
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Haas, Miss. Aloisia
Allison, Miss. Helen Loraine
Kelly, Miss. Anna Katherine "Annie Kate"
Keane, Miss. Nora A
Fleming, Miss. Margaret
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Nilsson, Miss. Helmina Josefina
Wick, Miss. Mary Natalie
Slayter, Miss. Hilda Mary
Young, Miss. Marie Grice
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Burns, Miss. Elizabeth Margaret
Fortune, Miss. Alice Elizabeth
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Jermyn, Miss. Annie
Palsson, Miss. Stina Viola
Landergren, Miss. Aurora Adelia
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Buss, Miss. Kate
Lehmann, Miss. Bertha
Newell, Miss. Marjorie
Olsson, Miss. Elina
Jussila, Miss. Mari Aina
Oreskovic, Miss. Marija
Lefebre, Miss. Ida
Minahan, Miss. Daisy E
Silven, Miss. Lyyli Karoliina
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Mellinger, Miss. Madeleine Violet
Baclini, Miss. Marie Catherine
Toomey, Miss. Ellen
Baclini, Miss. Helene Barbara
Strandberg, Miss. Ida Sofia
Hirvonen, Miss. Hildur E
Lefebre, Miss. Jeannie
Eustis, Miss. Elizabeth Mussey
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Perreault, Miss. Anne
Ridsdale, Miss. Lucy
Quick, Miss. Phyllis May
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Ohman, Miss. Velin
Meanwell, Miss. (Marion Ogden)
Kelly, Miss. Mary
Garside, Miss. Ethel
Christy, Miss. Julie Rachel
Taussig, Miss. Ruth
Bourke, Miss. Mary
Leitch, Miss. Jessie Wills
Shutes, Miss. Elizabeth W
Murphy, Miss. Margaret Jane
Herman, Miss. Alice
Becker, Miss. Marion Louise
Longley, Miss. Gretchen Fiske
Skoog, Miss. Mabel
Davis, Miss. Mary
Skoog, Miss. Margit Elizabeth
Baclini, Miss. Eugenie
Stanley, Miss. Amy Zillah Elsie
Doling, Miss. Elsie
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Turja, Miss. Anna Sofia
Peters, Miss. Katie
Madill, Miss. Georgette Alexandra
Karun, Miss. Manca
Mullens, Miss. Katherine "Katie"
Barbara, Miss. Saiide
Cleaver, Miss. Alice
Endres, Miss. Caroline Louise
Troutt, Miss. Edwina Celia "Winnie"
Harper, Miss. Annie Jessie "Nina"
Mannion, Miss. Margareth
Ilmakangas, Miss. Pieta Sofia
Allen, Miss. Elisabeth Walton
Ryerson, Miss. Susan Parker "Suzette"
Sinkkonen, Miss. Anna
Wells, Miss. Joan
Mangan, Miss. Mary
Emanuel, Miss. Virginia Ethel
Ayoub, Miss. Banoura
Sjoblom, Miss. Anna Sofia
Sage, Miss. Stella Anna
Pettersson, Miss. Ellen Natalia
Andersson, Miss. Ebba Iris Alfrida
Heininen, Miss. Wendla Maria
Compton, Miss. Sara Rebecca
Serepeca, Miss. Augusta
Boulos, Miss. Nourelain
Lines, Miss. Mary Conover
Sage, Miss. Dorothy Edith "Dolly"
Najib, Miss. Adele Kiamie "Jane"
Dahlberg, Miss. Gerda Ulrika
Graham, Miss. Margaret Edith
Johnston, Miss. Catherine Helen "Carrie"

In [13]:
someword = data[data['Sex']=='female']['Name'][2].split(',')