In [1]:
def most_common(lst): return max(set(lst), key=lst.count)

In [3]:
n = input()
a = input()

10
1 1 1 1 1 1 1 1 1 2

In [9]:
def mostFrequent(arr, n):
 
    # Sort the array
    arr.sort()
 
    # find the max frequency using
    # linear traversal
    max_count = 1; res = arr[0]; curr_count = 1
     
    for i in range(1, n):
        if (arr[i] == arr[i - 1]):
            curr_count += 1
             
        else :
            if (curr_count > max_count):
                max_count = curr_count
                res = arr[i - 1]
             
            curr_count = 1
     
    # If last element is most frequent
    if (curr_count > max_count):
     
        max_count = curr_count
        res = arr[n - 1]
     
    return res

1

In [10]:
# Driver Code
n = 10
arr = [10, 6, 10, 10, 10, 10, 8, 8, 10, 9]

print(mostFrequent(arr, n))

10

### Реализация графов и деревьев

In [11]:
a, b, c, d, e, f, g, h = range(8)
N = [
    {b, c, d, e, f}, # a
    {c, e}, # b
    {d}, # c
    {e}, # d
    {f}, # e
    {c, g, h}, # f
    {f, h}, # g
    {f, g} # h
]

In [21]:
h in N[f] # можно ли из вершины перейти

True

In [23]:
len(N[a])

5

In [26]:
n = 9
arr = [0, 3, 0, 1, 2, 1, 3, 1, 0]

In [27]:
n = int(n)
d = []
for i in range(n):
    d.append(int(arr[i]))

In [28]:
for i in range(n):
    print(d[i])

0
3
0
1
2
1
3
1
0

### Задача на анализ данных

In [2]:
import pandas as pd
import numpy as np
import os

In [18]:
pathname = os.path.join("data", "spoiled_data.csv")

data = pd.read_csv(pathname, index_col=0)
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0.655968525404552,2.0,6.0,-0.032833673646417205,-4.062045264897834,12.064858107915615,-4.632454,-1.0,4.0,1.0,0
1,10.199211979664126,1.0,2.0,1.351357995650444,-3.5717621073746653,9.89244646012535,-1.005013,1.0,1.0,2.0,0
2,0.007215371684138306,1.0,10.0,-1.4884445239973123,-3.9464790108710197,10.513220799618184,-8.979408,0.0,3.0,3.0,0
3,0.25743120934008346,1.0,9.0,-1.5231538101794566,-4.4502335354549425,11.798010557567801,-6.217044,0.0,6.0,4.0,0
4,2.871536319644719,2.0,4.0,-0.5324727856834761,-3.4844525300735434,12.500063315341055,-3.503076,-1.0,15.0,5.0,0

In [78]:
data.loc[data['10'] == 8]

,0,1,2,3,4,5,6,7,8,9,10
1585,-,-,5.0,0.17723993863393606,-,9.90018886549262,-3.803903,-1.0,0.0,1.0,8
1586,0.04667945495505864,-,10.0,-,-,-,-8.715818,0.0,0.0,2.0,8
1587,-,2.0,5.0,-1.1260640196914773,-3.67909491943822,-,-3.687618,-1.0,4.0,3.0,8
1588,1.0484621681558046,2.0,7.0,2.2135076634427557,-,-,-4.917433,-,0.0,4.0,8
1589,-,-,10.0,-1.5941691518602998,-,11.878856702666639,-8.857871,0.0,5.0,5.0,8
...,...,...,...,...,...,...,...,...,...,...,...
1980,-,-,6.0,-,-3.413403537162727,-,-4.764454,-1.0,0.0,396.0,8
1981,-,-,6.0,-,-2.6799952465108072,-,-4.412096,-,1.0,397.0,8
1982,-,2.0,3.0,3.42716656147861,-4.135475767160339,9.380876239640518,-2.789733,-,1.0,398.0,8
1983,0.20356316785974118,1.0,10.0,-,-3.8854017204028675,10.95539932392784,-6.762878,-,2.0,399.0,8
1984,-,-,2.0,-,-3.2881173199677454,-,-1.127238,1.0,1.0,400.0,8

In [35]:
arr = np.arange(1, 181, 1.0, dtype=float)

In [53]:
data.loc[data['10'] ==8]['9'].array[0]

'1.0'

In [70]:
#выглядит как нумерация от 1 до 400
N = len(data[data['10'] == 8]['9'])
arr = np.arange(1, N+1, 1.0, dtype=float)
data[data['10'] == 8]['9'] = arr

C:\Users\Igor\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [75]:
#вот так меняем значения. Хотя наверное лучше не хардкодить, такие значения.
data.loc[1585:, '9'] = arr

In [77]:
data.loc[1585:, '9'].array

<PandasArray>
[  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,  10.0,
 ...
 391.0, 392.0, 393.0, 394.0, 395.0, 396.0, 397.0, 398.0, 399.0, 400.0]
Length: 400, dtype: object

#### TODO
Надо посмотреть, как обнаружить отсутствующие данные, т.е. на самом деле мне надо просто заменить все "-" на NaN и поискать где NaN. Чтобы прямо вывел значения стобцов. Чтобы не искать их вручную. По моему в работе по титанику я что-то подобное делал.

Посмотри, вспомни. Все таки титаник я делал год назад. Прошлым летом. Основательно подзабыл видимо